.button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 0.5vh;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5b5b60 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 5vh;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.4vh;
  padding-right: 1.4vh;
  position: relative;
  text-align: left;
  border: 1px solid grey;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.8vh;
}

.button:focus {
  box-shadow: #666669 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4d4d54 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #717175 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #585859 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 550px) {
  .button {
    font-size: 16px;
    outline: none;
    width: 30vw;
    border-radius: 2px;
    margin: 0 5%;
    min-width: 25%;
    padding: 8px 12px;
    border: 1px solid transparent;

  }
}


